{% extends "base.html" %}


{% block title %}
About Us
{% endblock %}

{% block body %}
<div class="container-fluid">
  <img class="img-fluid" src="https://source.unsplash.com/1500x500/?questions, meeting">
</div>
<h1 class="text-center py-2 my-2 bg-light text-dark">About Us</h1>
<div class="container">
  <div class="container-fluid my-4 mx-4 border border-dark ">
    <div class="row featurette text-center py-4">
      <div class="col-md-7">
        <h2 class="featurette-heading">Lets read today. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">The author, vice chairman of Ogilvy, shares why what’s irrational often works better than what’s considered to be rational. Rory explains we take some actions based on a psychological rather than logical level. As marketers,
          we should appeal to this irrational side of our thinking and try what seems to be counterintuitive or logic-defying.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block img-thumbnail" data-src="holder.js/300x300/auto" src="https://source.unsplash.com/1600x900/?library,book">
      </div>
    </div>

  </div>
  <div class="container-fluid my-2 mx-4 border border-dark">
    <div class="row featurette text-center py-4">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, do you like it? <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">One of the biggest challenges faced by content marketing today’s leaders (and aspiring leaders) is shaping data into narratives that make clear recommendations that inspire others to act. Almost every article, book, proposal,
          and presentation can be improved by converting data into compelling stories. While writing DataStory, Nancy curated the thousands of data slides her firm created for clients to select the best examples. Examples from technology, finance,
          healthcare, and consumer products are included, with concise captions.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-responsive center-block img-thumbnail" data-src="holder.js/300x300/auto" src="https://source.unsplash.com/1600x900/?reading,book">

      </div>
    </div>
  </div>
  <div class="container-fluid my-4 mx-4 border border-dark ">
    <div class="row featurette text-center py-4">
      <div class="col-md-7">
        <h2 class="featurette-heading">Take a chance. <span class="text-muted">Refresh your mind.</span></h2>
        <p class="lead">The author, vice chairman of Ogilvy, shares why what’s irrational often works better than what’s considered to be rational. Rory explains we take some actions based on a psychological rather than logical level. As marketers,
          we should appeal to this irrational side of our thinking and try what seems to be counterintuitive or logic-defying.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block img-thumbnail" data-src="holder.js/300x300/auto" src="https://source.unsplash.com/1600x900/?cafe,book">
      </div>
    </div>

  </div>
  <div class="container-fluid my-2 mx-4 border border-dark">
    <div class="row featurette text-center py-4">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Reading can be fun. <span class="text-muted">Look around us.</span></h2>
        <p class="lead">One of the biggest challenges faced by content marketing today’s leaders (and aspiring leaders) is shaping data into narratives that make clear recommendations that inspire others to act. Almost every article, book, proposal,
          and presentation can be improved by converting data into compelling stories. While writing DataStory, Nancy curated the thousands of data slides her firm created for clients to select the best examples. Examples from technology, finance,
          healthcare, and consumer products are included, with concise captions.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-responsive center-block img-thumbnail" data-src="holder.js/300x300/auto" src="https://source.unsplash.com/1600x900/?study,notebook">

      </div>
    </div>
  </div>
</div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">created by San Jog</span>
    </div>
  </footer>
</div>
{% endblock %}
